doctype html
html
  head
    title Google Maps Example
    script(src='https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
  body
    block content
